<header>
  <div class="row">
    <app-navbar></app-navbar>
  </div>
</header>
<div class="row">
  <div class="col-2">
    <app-sidebar></app-sidebar>
  </div>

  <div class="col-10 div-content">

    <div class=" animated fadeIn fast content">
      <h5>Gestion de Materias</h5>
      <ul class="nav">
        <li (click)="cargarEstudiantes(materia)" #mat *ngFor="let materia of materias" style="margin-left:0.2%;">
          <h5><span class="badge badge-primary">{{materia.nombre_MATERIA}}</span></h5>
        </li>
        <i (click)="openForm()" title="Añadir Materia" class="fas fa-plus-square fa-2x ml-3 istyle" style="color:#28a745!important;"></i>
      </ul>

      <button *ngIf="matSelected"  (click)="openFormEst()" class="btn btn-outline-primary mt-3" type="button" name="button">Agregar Estudiante</button>
      <button *ngIf="matSelected" type="button" style="margin-left:1%;" data-toggle="modal" data-target="#ModalConfirmacion" class="btn btn-outline-danger mt-3" name="button">Eliminar Materia</button>


      <div *ngIf="estado === false" class="alert alert-danger mt-3" role="alert">
        Ocurrio un error con la ejecucion de la accion.
      </div>
      <div *ngIf="estado === true" class="alert alert-success mt-3" role="alert">
        Accion aplicada exitosamente!
      </div>

    </div>

    <form *ngIf="newEst" #forma="ngForm" (ngSubmit)="guardarEstudiante(forma)">
      <br>
      <h5>Registrar Estudiante</h5>

      <div class="form-row">
        <div class="form-group col-3">
          <label for="inputname">Documento</label>
          <input [(ngModel)]="materia.doc_estudiante" name="documento" required #documento="ngModel" type="text" class="form-control" id="inputname" placeholder="">
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-3">
          <label for="inputname">Nombre Completo</label>
          <input [(ngModel)]="materia.nom_estudiante" name="nombre" required #nombre="ngModel" type="text" class="form-control" id="inputname" placeholder="">
        </div>

      </div>


      <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary">Guardar</button>
    </form>

      <form *ngIf="newMat" #forma="ngForm" (ngSubmit)="guardar(forma)">
        <br>
        <h5>Registrar Materia</h5>
        <div class="form-row">
          <div class="form-group col-3">
            <label for="inputname">Codigo</label>
            <input [(ngModel)]="materia.codigo_materia" name="codigo" required #codigo="ngModel" type="text" class="form-control" id="inputname" placeholder="">
          </div>
        </div>


        <div class="form-row">
          <div class="form-group col-3">
            <label for="inputname">Nombre</label>
            <input [(ngModel)]="materia.nombre_materia" name="nombre" required #nombre="ngModel" type="text" class="form-control" id="inputname" placeholder="">
          </div>
          <div class="form-group col-md-3">
            <label for="inputlastname">Facultad</label>
            <select [(ngModel)]="facultadSelected" name="facultad" required #facultad="ngModel" class="custom-select">
              <option *ngFor="let fac of facultades" [value]="fac.id_FACULTAD">{{fac.nombre_FACULTAD}}</option>
            </select>

          </div>
        </div>


        <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary">Guardar</button>
      </form>
      <br>
      <div *ngIf="matSelected" class="table-responsive-md">
        <table class="table table-striped table-hover table-light table-bordered ">
          <thead class="bg-dark" style="color:white;  ">
            <tr>
              <th scope="col">#</th>
              <th (click)="orderByDoc(students)" class="point" scope="col">Documento <i *ngIf="flagSortByDoc" class="fas fa-caret-down"></i><i *ngIf="!flagSortByDoc" class="fas fa-caret-up"></i></th>
              <th (click)="orderByname(students)" class="point" scope="col">Nombre <i *ngIf="flagSortByName" class="fas fa-caret-down"></i> <i *ngIf="!flagSortByName" class="fas fa-caret-up"></i></th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody class="animated fadeIn fast">
            <tr *ngFor="let est of students; index as i ">
              <th scope="row">{{i + 1 }}</th>
              <td>{{est.doc_estudiante}}</td>
              <td>{{est.nom_estudiante}}</td>
              <td><button (click)="asignarEstudiante(est)" title="Borrar Estudiante" data-toggle="modal" data-target="#ModalConfirmacionEstudiante" type="button" style="margin-left:5px;" class="btn btn-danger" name="button"><i class="fas fa-trash-alt"></i></button></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>



  <!-->Modal Confirmacion Borrar Materia</!-->
  <div class="modal fade" id="ModalConfirmacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div *ngIf="matSelected" style="color:#721c24">
            ¿Esta seguro de eliminar la materia <span class="alert-link"> {{matSelected.nombre_MATERIA}}</span>?
          </div>
          <br>

          <div style="color:#0c5460;">
            Tenga en cuenta que todas las concertaciones y notas asociadas a esta materia seran eliminadas.
          </div>
          <br>
          <div class="modal-footer">
            <button *ngIf="matSelected" type="button" style="margin-left:1%;" (click)="eliminarMat()" data-dismiss="modal" class="btn btn-outline-danger" name="button">Si, Eliminar</button>
            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">No, Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-->Modal Confirmacion Borrar Estudiante</!-->
  <div class="modal fade" id="ModalConfirmacionEstudiante" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div style="color:#721c24">
            ¿Esta seguro de eliminar el estudiante?
          </div>
          <br>

          <div *ngIf="matSelected && estToDelente" style="color:#0c5460;">
            Tenga en cuenta que todas notas asociadas al estudiante <span class="alert-link">{{estToDelente.nom_estudiante}}</span> en la materia <span class="alert-link">{{matSelected.nombre_MATERIA}}</span> seran eliminadas.
          </div>
          <br>
          <div class="modal-footer">
            <button *ngIf="matSelected" type="button" style="margin-left:1%;" (click)="eliminarEst()" data-dismiss="modal" class="btn btn-outline-danger" name="button">Si, Eliminar</button>
            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">No, Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
