
<header style="z-index:300;">
  <div class="row">
  <app-navbar></app-navbar>
  </div>
</header>

<div class="row">
  <div  class="col-2" >
  <app-sidebar></app-sidebar>
  </div>
  <div class="col-19 div-content">
    <div class="animated fadeIn fast">


      

		<!--Herramientas-->
		<section>
			<div class=" wow shake">
				<div class="row">
					<div class="col">



						<div class="card-deck ">

							<div class="card">
								<div class="card-body hvr-float">
									<img class="card-img-top mb-4 d-block mx-auto" src="./assets/images/card-1.png" alt="" style="width: 96px; height: 96px">
									<h4 class="card-title text-center blue-text"><strong>Herramientas Intuitivas</strong> </h4>
									<p class="card-text">Organiza a tus alumnos de manera rapida y sencilla</p>
								</div>
							</div>

							<div class="card">
								<div class="card-body">
									<img class="card-img-top mb-4 d-block mx-auto" src="./assets/images/card-2.png" alt="" style="width: 96px; height: 96px">
									<h4 class="card-title text-center blue-text"><strong>Gestor de Correo Electronico</strong></h4>
									<p class="card-text">Envias trabajos, y mensajes a todos tus grupos</p>
								</div>
							</div>

							<div class="card">
								<div class="card-body">
									<img class="card-img-top mb-4 d-block mx-auto" src="./assets/images/card-3.png" alt="" style="width: 96px; height: 96px">
									<h4 class="card-title text-center blue-text"><strong>Historigramas</strong></h4>
									<p class="card-text">Podrás ver graficamente el rendimiento de tus alumnos segun sus calificaciones.</p>
								</div>
							</div>

							<div class="card">
								<div class="card-body">
									<img class="card-img-top mb-4 d-block mx-auto" src="./assets/images/card-4.png" alt="" style="width: 96px; height: 96px">
									<h4 class="card-title text-center blue-text"><strong>Alumnos</strong> </h4>
									<p class="card-text">Si eres alumno, podras ver tu rendimiento en las diferentes asignaturas.</p>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>
		</section>
		<!--/Herramientas-->

    </div>
  </div>
</div>
<footer>
  <app-footer></app-footer>
</footer>
