span{
  cursor:pointer;
}
.main-color{
  background:#007bff;
}
table th {
  text-align: center;
}
table td {
  text-align: center;
}

.point:hover{
  cursor:pointer;
  color: #007bff;
}

.istyle{
  cursor:pointer;
}
