<header>
  <div class="row">
    <app-navbar></app-navbar>
  </div>
</header>
<div class="row">
  <div class="col-2">
    <app-sidebar></app-sidebar>
  </div>

  <div class="col-10 div-content">

    <div class=" animated fadeIn fast content">

      <ul class="nav">
        <li (click)="cargarEstudiantes(materia)" #mat *ngFor="let materia of materias" style="margin-left:0.2%;">
          <h5><span class="badge badge-dark main-color" >{{materia.nombre_MATERIA}}</span></h5>
        </li>
      </ul>
      <br>
      <button (click)="openForm()" class="btn btn-outline-primary " type="button" name="button">Agregar Materia</button>
      <button *ngIf="matSelected" style="margin-left:1%;" (click)="openFormEst()" class="btn btn-outline-primary" type="button" name="button">Agregar Estudiante</button>
      <button *ngIf="matSelected" type="button" style="margin-left:1%;" (click)="eliminarMat()" class="btn btn-outline-danger" name="button">Eliminar Materia</button>


      <form *ngIf="newEst" #forma="ngForm" (ngSubmit)="guardarEstudiante(forma)">
        <br>
        <div class="form-row">
          <div class="form-group col-3">
            <label for="inputname">Documento</label>
            <input [(ngModel)]="materia.doc_estudiante" name="documento" required #documento="ngModel" type="text" class="form-control" id="inputname" placeholder="">
          </div>
        </div>


        <div class="form-row">
          <div class="form-group col-3">
            <label for="inputname">Nombre Completo</label>
            <input [(ngModel)]="materia.nom_estudiante" name="nombre" required #nombre="ngModel" type="text" class="form-control" id="inputname" placeholder="">
          </div>

        </div>


        <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary">Guardar</button>
      </form>



      <form *ngIf="newMat" #forma="ngForm" (ngSubmit)="guardar(forma)">
        <br>
        <div class="form-row">
          <div class="form-group col-3">
            <label for="inputname">Codigo</label>
            <input [(ngModel)]="materia.codigo_materia" name="codigo" required #codigo="ngModel" type="text" class="form-control" id="inputname" placeholder="">
          </div>
        </div>


        <div class="form-row">
          <div class="form-group col-3">
            <label for="inputname">Nombre</label>
            <input [(ngModel)]="materia.nombre_materia" name="nombre" required #nombre="ngModel" type="text" class="form-control" id="inputname" placeholder="">
          </div>
          <div class="form-group col-md-3">
            <label for="inputlastname">Facultad</label>
            <select [(ngModel)]="facultadSelected" name="facultad" required #facultad="ngModel" class="custom-select">
              <option *ngFor="let fac of facultades" [value]="fac.id_FACULTAD">{{fac.nombre_FACULTAD}}</option>
            </select>

          </div>
        </div>


        <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary">Guardar</button>
      </form>
      <br>
      <br>
      <div *ngIf="estado === false" class="alert alert-danger" role="alert">
        Ocurrio un error con la ejecucion de la accion.
      </div>
      <div *ngIf="estado === true" class="alert alert-success" role="alert">
        Accion aplicada exitosamente!
      </div>
    </div>
    <div *ngIf="matSelected" class="row" style="margin-left:0.2%;">
      <h3><span class="badge badge-dark main-color">Codigo: </span> {{matSelected.codigo_MATERIA}}&nbsp;</h3>
      <h3> <span class="badge badge-dark main-color"> Nombre: </span> {{matSelected.nombre_MATERIA}} </h3>
      <button *ngIf="matSelected" data-toggle="modal" data-target="#exampleModal" type="button" style="margin-left:1%; margin-bottom:1%;" class="btn btn-outline-primary" name="button">Añadir Nota</button>
    </div>

    <div class="table-responsive-md">
      <table class="table table-striped table-hover table-success table-borderless">
        <thead class="thead-dark">
          <tr >
            <th scope="col">#</th>
            <th scope="col">Documento</th>
            <th scope="col">Nombre</th>
            <!--th *ngFor="let concertacion of ConcertSelect; let i = index" scope="col">{{concertacion.valor_porcentual}}% <br> ({{concertacion.nom_concertacion}})</th-->
            <th>
            <div *ngIf="ConcertSelect" class="container">
              <select (click)="CargarNotas(SelectConcertacion)" [(ngModel)]="concertacion" name="SelectConcertacion" required #SelectConcertacion="ngModel" class="custom-select">
              <option >Seleccione</option>
              <option *ngFor="let concertacion of ConcertSelect" [value]="concertacion.id_concertacion">{{concertacion.nom_concertacion}} {{concertacion.valor_porcentual}}%</option>
            </select>
          </div>
</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let est of students; index as i ">
            <th scope="row">{{i + 1 }}</th>
            <td>{{est.doc_estudiante}}</td>
            <td>{{est.nom_estudiante}}</td>
            <td><div style="margin-left:35%;"><input class="form-control" [(ngModel)]="est.nota" name="nota"  #nota type="text" [value]="est.nota" style="width:50px;"></div></td>
            <td>
              <button (click)="editarNotas(est)" type="button" class="btn btn-outline-primary" name="button"><i class="far fa-edit"></i></button>
              <button (click)="guardarRow(est)" type="button" style="margin-left:5px;" class="btn btn-outline-success" name="button"><i class="far fa-save"></i></button>
              <button (click)="eliminarEst(est)" type="button" style="margin-left:5px;" class="btn btn-outline-danger" name="button"><i class="fas fa-trash-alt"></i></button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>

  </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form #formaCon="ngForm" (ngSubmit)="setConcertacion(formaCon)">
          <br>
          <div class="form-row">
            <div class="form-group col-6">
              <label for="inputname">Nombre Nota</label>
              <input [(ngModel)]="concertacion.nom_concertacion" name="nombre" required #nombre="ngModel" type="text" class="form-control" id="inputname" placeholder="Taller, Quiz etc">
            </div>
          </div>


          <div class="form-row">
            <div class="form-group col-6">
              <label for="inputname">Valor Porcentual</label>
              <input [(ngModel)]="concertacion.porcentaje" name="valor" required #valor="ngModel" type="text" class="form-control" id="inputname" placeholder="10, 20, 25 etc">
            </div>

          </div>


          <button [disabled]="!formaCon.valid" type="submit" class="btn btn-outline-primary">Guardar</button>
        </form>

      </div>
      <div class="modal-footer">
        <div *ngIf="estadoCon === false" class="alert alert-danger" role="alert">
          Ocurrio un error con la ejecucion de la accion.
        </div>
        <div *ngIf="estadoCon === true" class="alert alert-success" role="alert">
          Accion aplicada exitosamente!
        </div>
      </div>
    </div>
  </div>
</div>
