<header>
  <div class="row">
    <app-navbar></app-navbar>
  </div>
</header>

<div class="row">
  <div class="col-2">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-10 div-content">
    <div class="animated fadeIn fast">
      <h5>Gráfico de Barras</h5>
      <ul class="nav mt-3">
        <li (click)="cargarGrafica(materia)" #mat *ngFor="let materia of materias" style="margin-left:0.2%;">
          <h5><span class="badge badge-dark main-color">{{materia.nombre_MATERIA}}</span></h5>
        </li>
      </ul>
      <div *ngIf="barChartLabels.length !== 0 && matSelected" class="alert alert-info" role="alert">
          Visualizando los estudiantes aprobados y reprobados por concertacion...
      </div>
      <div *ngIf="barChartLabels.length === 0 && matSelected ===false" class="alert alert-danger" role="alert">
          Esta materia no tiene datos asociados con los cuales generar el grafico.
      </div>
      <div>
  <div class="" *ngIf="matSelected" style="display: block; overflow:scroll">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [colors]="barChartColors"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
</div>
    </div>
  </div>
  </div>
