
.main-container{
  margin-left: 30%;
  margin-top: 10%;
  margin-right: 30%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  padding-left: 10px;
  padding-top: 20px;
}

.intern{
  opacity: 1 !important;
}

input{
  margin-left: 80px;
}


#icon {
  width:25%;
}

.ng-invalid.ng-touched:not(form){
      border: 1px solid red;
}
