<nav class="sidebar sidebar-offcanvas" >

  <ul class="nav flex-column ">
    <li routerLinkActive="active" class="nav-item" style="margin-top:5%">
      <a class="nav-link" routerLink="/home">
        <i class="fas fa-home menu-icon"></i>
        <span class="menu-title">Home</span>
      </a>
    </li>

    <li title="Añate tus materias y registra estudiantes en ellas." *ngIf="tperfil === 'maestro'" routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="/infomaterias">
        <i class="fas fa-address-book"></i>
        <span class="menu-title">Gestion de Materias</span>
      </a>
    </li>
    <li title="Añade concertaciones y asigna notas a tus estudiantes." *ngIf="tperfil === 'maestro'" routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="/materias">
        <i class="fas fa-book"></i>
        <span class="menu-title">Gestion de Notas</span>
      </a>
    </li>
    <li *ngIf="tperfil === 'estudiante'" routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="/mismaterias">
        <i class="fas fa-book"></i>
        <span class="menu-title">Mis Materias</span>
      </a>
    </li>
    <li *ngIf="tperfil === 'maestro'" (click)="submenu()" routerLinkActive="active" class="nav-item">
      <a class="nav-link">
        <i class="fas fa-book"></i>
        <span class="menu-title">Gráficas</span>
      </a>
    </li>
    <li *ngIf="flagSubmenu" routerLinkActive="active" class="nav-item nav-submenu">
      <a class="nav-link" routerLink="/grafica/barras">
        <i class="fas fa-book"></i>
        <span class="menu-title">Barras</span>
      </a>
    </li>
    <li *ngIf="flagSubmenu" routerLinkActive="active" class="nav-item nav-submenu">
      <a class="nav-link" routerLink="/grafica/donas">
        <i class="fas fa-book"></i>
        <span class="menu-title">Donas</span>
      </a>
    </li>
  </ul>
</nav>
