<nav class="sidebar sidebar-offcanvas" >
  <br>
  <br>
  <br>
  <ul class="nav flex-column">
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="/home">
        <i class="fas fa-home menu-icon"></i>
        <span class="menu-title">Home</span>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="/perfil">
        <i class="fas fa-user"></i>
        <span class="menu-title">Notas</span>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="/users">
        <i class="fas fa-address-book"></i>
        <span class="menu-title">Usuarios</span>
      </a>
    </li>
  </ul>
</nav>
