span{
  cursor:pointer;
  background-color:  white;
}
.main-color{
  background:#3f51b5;
}
.td-nota:active{
  background: black;
  opacity: 0.1;
}
.column-hover:hover{
  background: white;
  opacity: 0.3;
}

table th {
  text-align: center;
}
table td {
  text-align: center;
}
